body {
  background-color: black;
  color: white;
  font-family: "Hack", monospace;
  margin-top: 0;
}
#game {
    width: 800px;
    height: 600px;
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
}
#outer {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
}
#middle {
  display: table-cell;
  vertical-align: middle;
}
#game_description {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
@font-face {
  font-family: "Hack";
  src: url("fonts/Hack-Regular.ttf") format("truetype");
}
